@model Mvc20201107.Models.Guesbooks

@{
    ViewBag.Title = "Edit";
}

@section scripts
    {
        @Scripts.Render("~/Scripts/*")
    }



<h2>Edit</h2>

@using (Html.BeginForm())
{
    <h3>修改留言</h3>
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.Name)
            </td>
            <td>
                @Html.TextBoxFor(Model=>Model.Name)
                @Html.ValidationMessageFor(Model=>Model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.Content)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Content)
                @Html.ValidationMessageFor(Model=>Model.Content)
            </td>
        </tr>
    </table>
    if(Model.ReplyTime == null)
    {
        <input type="submit" value="修改留言" />
    }
    else
    {
        <text>此留言已經回覆無法修改</text>
        @Html.ActionLink("返回列表","Index");

    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
