@model Mvc20201107.ViewModels.GuestbooksViewModel

@{
    ViewBag.Title = "Index";
}

<div id="CreateData">
  @Html.Action("Create")
</div>

<h2>留言板</h2>
@using (Html.BeginForm("Index","Guestbooks",FormMethod.Get))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model =>Model.Search)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Search)
            </td>
            <td>
                <input type="submit" value="收尋XXXXXXXXXXX"/>
            </td>
        </tr>
    </table>





}



<table>
    @if (!Model.DataList.Count.Equals(0))
    {
        foreach (var item in Model.DataList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.DataList[0].Name)
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.DataList[0].CreateTime)
                </td>
                <td>
                    @item.CreateTime
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.DataList[0].Content)
                </td>
                <td colspan="3">
                    @item.Content
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.DataList[0].Reply)
                </td>
                <td colspan="3">
                    @item.Reply
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.DataList[0].ReplyTime)
                </td>
                <td>
                    @item.ReplyTime
                </td>

            </tr>
            <tr>
                <td>
                    @Html.ActionLink("修改留言", "Edit", new { Id = item.Id })
                    @Html.ActionLink("回覆留言", "Reply", new { Id = item.Id })
                    @Html.ActionLink("刪除留言", "Delete", new { Id = item.Id })
                </td>


            </tr>


        }

    }
    else
    {
        <tr>
            <td colspan="4">
                資料庫內查無資料
            </td>
        </tr>
        }
    <tr>
        <td>
            @if(Model.Paging.NowPage > 1)
            {
                @Html.ActionLink("<<","Index",new { Page =1 , Serach = Model.Search});
                @Html.ActionLink("<","Index",new {Page = Model.Paging.NowPage -1,Search = Model.Search});
            }
        </td>
        <td>
            @for (var page = (Model.Paging.NowPage -6); page<(Model.Paging.NowPage +6); page++)
            {
                if((page>0) && (page <= Model.Paging.MaxPage))
                {
                    if (page == Model.Paging.NowPage)
                    {
                        <b>@page</b>
                    }
                    else
                    {
                        @Html.ActionLink(page.ToString(), "Index", new { Page = page, Search = Model.Search })
                        ;
                                }
                            }
                        }
        </td>
        <td>
            @if (Model.Paging.NowPage < Model.Paging.MaxPage)
            {
                @Html.ActionLink(">", "Index", new { Page = Model.Paging.NowPage + 1, Search = Model.Search })
                @Html.ActionLink(">>", "Index", new {Page = Model.Paging.MaxPage, Search = Model.Search})
            }
        </td>
    </tr>


</table>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
